.buttons {
	width: 750px;
	position: absolute;
	top: 0;
	left: 0;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]:checked+label,
label:hover {
	background-color: rgba(240,231,223,0.3);
	@include transition (all 0.5s);
	line-height: 12px;
	font-size: $font-size-base;
	color: $dark-grey;
	font-family: $font-family-base;
	span {
	bottom: 12px;
	text-align: center;
	position: absolute;
	width: 100%;
	}
}

label:hover {
	background-color: rgba(240,231,223,0.6);
}

label {
	@include text-hide();
	width: 150px;
	height: 150px;
	cursor: pointer;
	background-color: transparent;
	float: left;
	position: relative;
	&:nth-child(14),
	&:nth-child(18),
	&:nth-child(22) {
		margin-left: 450px;
	}
	&:nth-child(1),
	&:nth-child(2),
	&:nth-child(3),
	&:nth-child(4),
	&:nth-child(12),
	&:nth-child(13),
	&:nth-child(14),
	&:nth-child(15) {
		border-right: none;
	}
	&:nth-child(6),
	&:nth-child(7) {
		border-top: none;
	}
	&:nth-child(6),
	&:nth-child(7),
	&:nth-child(8),
	&:nth-child(9),
	&:nth-child(10),
	&:nth-child(11) {
		border-bottom: none;
	}
}

.tangram__button {
	width: 150px;
	height: 150px;
	background-color: $white;
	float: left;
	position: relative;
	&:nth-child(7),
	&:nth-child(9),
	&:nth-child(11) {
		margin-left: 450px;
	}
	&:nth-child(1),
	&:nth-child(2),
	&:nth-child(3),
	&:nth-child(4),
	&:nth-child(12),
	&:nth-child(13),
	&:nth-child(14),
	&:nth-child(15) {
		border-right: 1px solid $border-color;
	}
	&:nth-child(6),
	&:nth-child(7) {
		border-top: 1px solid $border-color;
	}
	&:nth-child(6),
	&:nth-child(7),
	&:nth-child(8),
	&:nth-child(9),
	&:nth-child(10),
	&:nth-child(11) {
		border-bottom: 1px solid $border-color;
	}

	.tangram {
		position: absolute;
		width: 150px;
		height: 150px;
		padding: 0;
		top: 0;
		left: 0;
	}
	.tangram--basic {
		@include transform(scale(0.3));
		top: -9px;
		left: -9px;
	} 
	.tangram--cat,
	.tangram--rabbit {
		@include transform(scale(0.2));
		top: -24px;
		left: -5px;
	}
	.tangram--swan {
		@include transform(scale(0.2));
		top: -20px;
		left: -9px;
	}
	.tangram--bat {
		@include transform(rotate(20deg) scale(0.25));
		top: -40px;
		left: -22px;
	}
	.tangram--bear {
		@include transform(scale(0.22));
		top: -30px;
		left: -34px;
	}
	.tangram--giraffe {
		@include transform(scale(0.22));
		top: -17px;
		left: -29px;
	}
	.tangram--fish {
		@include transform(scale(0.25));
		top: -39px;
		left: -25px;
	}
	.tangram--snake {
		@include transform(scale(0.2));
		top: -35px;
		left: -27px;
	}
	.tangram--turtle {
		@include transform(scale(0.23));
		top: -34px;
		left: -34px;
	}
	.tangram--lion {
		@include transform(scale(0.23));
		top: -35px;
		left: -4px;
	}
	.tangram--butterfly {
		@include transform(rotate(-30deg) scale(0.25));
		top: -9px;
		left: -42px;
	}
	.tangram--camel {
		@include transform(scale(0.22));
		top: -25px;
		left: -24px;
	}
	.tangram--dog {
		@include transform(scale(0.21));
		top: -30px;
		left: -30px;
	}
	.tangram--horse {
		@include transform(scale(0.21));
		top: -25px;
		left: -27px;
	}
	.tangram--squirrel {
		@include transform(scale(0.23));
		top: -39px;
		left: -32px;
	}
}

@media (max-width:959px){
	.buttons {
		width: 320px;
	}
	label {
		width: 80px;
		height: 50px;
		span {
			display: none;
		}
		&:nth-child(14),
		&:nth-child(18),
		&:nth-child(22) {
			margin-left: 0;
		}
	}

	.tangram__button {
		width: 80px;
		height: 50px;
		border-right: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		border-top: none;
		&:nth-child(7),
		&:nth-child(9),
		&:nth-child(11) {
			margin-left: 0;
		}
		&:nth-child(6),
		&:nth-child(7) {
			border-top: none;
		}
		.tangram {
			position: absolute;
			width: 80px;
			height: 50px;
		}
		.tangram--basic {
			@include transform(scale(0.16));
			top: -12px;
			left: -14px;
		} 
		.tangram--cat,
		.tangram--rabbit {
			@include transform(scale(0.11));
			top: -21px;
			left: -9px;
		}
		.tangram--swan {
			@include transform(scale(0.12));
			top: -20px;
			left: -6px;
		}
		.tangram--bat {
			@include transform(rotate(20deg) scale(0.14));
			top: -35px;
			left: -15px;
		}
		.tangram--bear {
			@include transform(scale(0.13));
			top: -25px;
			left: -22px;
		}
		.tangram--giraffe {
			@include transform(scale(0.11));
			top: -1px;
			left: -20px;
		}
		.tangram--fish {
			@include transform(scale(0.13));
			top: -26px;
			left: -20px;
		}
		.tangram--snake {
			@include transform(scale(0.12));
			top: -27px;
			left: -20px;
		}
		.tangram--turtle {
			@include transform(scale(0.14));
			top: -25px;
			left: -25px;
		}
		.tangram--lion {
			@include transform(scale(0.13));
			top: -22px;
			left: 7px;
		}
		.tangram--butterfly {
			@include transform(rotate(-30deg) scale(0.13));
			top: -6px;
			left: -30px;
		}
		.tangram--camel {
			@include transform(scale(0.12));
			top: -20px;
			left: -17px;
		}
		.tangram--dog {
			@include transform(scale(0.12));
			top: -23px;
			left: -22px;
		}
		.tangram--horse {
			@include transform(scale(0.11));
			top: -13px;
			left: -18px;
		}
		.tangram--squirrel {
			@include transform(scale(0.13));
			top: -27px;
			left: -23px;
		}
	}
}